.home__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.home__content {
  display: grid;
  grid-template-columns: 2fr 5fr;
  width: 60vw;
  min-height: 60vh;
  background-color: var(--White);
  border-radius: 0.6rem;
  box-shadow: 0px 0px 1.5rem 0 #00000010;
}

.home__sider {
  /* background-color: var(--Purplish_blue); */
  padding: 0.875rem;
}

.home__form_area {
  /* background-color: yellow; */
  padding: 0.875rem 4rem;
}

@media screen and (max-width: 768px) {
  .home__content {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 1rem;
  }

  .home__sider {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--Purplish_blue);
    width: 100vw;
    height: 30vh;
    z-index: -1;
    padding: 0;
  }
  .home__form_area {
    padding: 0.875rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1099px) {
  .home__form_area {
    padding: 0.875rem 3rem;
  }
}
